body{margin: 0;padding: 0;}

	.relative{position: relative;}
	.absolute{position: absolute;}
.box{
	height: 300px;
	width: 300px;
	border: 2px solid gray;
	float: left;
	margin:5px;


}

	.div1{
			width: 10px;
			height: 250px;
			background-color: red;
			transform: skew(-20deg);
			float: left;
			
			left: 100px;
			top:30px;

		}
		.div2{
			width: 10px;
			height: 250px;
			background-color: red;
			transform: skew(20deg);
			float: left;
			
			left: 200px;
			top:30px;

		}
		.div3{
			width: 110px;
			height: 10px;
			background-color: red;
			transform: skew(20deg);
			float: left;
			
			left: 100px;
			top:150px;
		}

.div4{
	height: 100px;
	width: 100px;
	border:3px solid red;
	border-radius:0 100px 100px 0;
	top:18px;
	left: 100px;
	
}
.div5{
	height: 100px;
	width: 100px;
	border:3px solid red;
	border-radius:0 100px 100px 0;
	top:120px;
		left: 100px;

	
}
.c{
	height: 200px;
	width: 120px;
	border: 5px solid red;
	border-radius:0 70px 70px 0;
	top:50px;
	left: 50px;
	transform: rotate(180deg);
	border-left: none;


}
.d{
	height: 200px;
	width: 150px;
	border:3px solid red;
	border-radius:0 100px 100px 0;
	top:50px;
	left: 50px;
}

.e{
	height: 150px;
	width: 7px;
	background-color: red;
	top:50px;
	left: 80px;
}
.e1{
	height: 10px;
	width: 90px;
	background-color: red;
	top:50px;
	left: 80px;
	border-radius: 10px;
}
.e2{
	height: 10px;
	width: 90px;
	background-color: red;
	top:120px;
	left: 80px;
	border-radius: 10px;
}
.e3{
	height: 10px;
	width: 90px;
	background-color: red;
	top:190px;
	left: 80px;
	border-radius: 10px;
}

.f{
	height: 150px;
	width: 7px;
	background-color: red;
	top:50px;
	left: 80px;
}
.f1{
	height: 10px;
	width: 90px;
	background-color: red;
	top:50px;
	left: 80px;
	border-radius: 10px;
}
.f2{
	height: 10px;
	width: 90px;
	background-color: red;
	top:120px;
	left: 80px;
	border-radius: 10px;
}
	.g{
		height: 200px;
	width: 120px;
	border: 5px solid red;
	border-radius:0 70px 70px 0;
	top:50px;
	left: 50px;
	transform: rotate(180deg);
	border-left: none;
	}	
	.g1{
		height: 80px;
		width: 7px;
		background-color: red;
		top:180px;
		left: 172px;
	}
	.g2{
		height: 7px;
		width: 70px;
		background-color: red;
		top:180px;
		left: 150px;
	}
.g3{
	height: 30px;
		width: 7px;
		background-color: red;
		top:180px;
		left: 220px;

}
.h{
height: 180px;
	width: 5px;
	background-color: red;
	top:50px;
	left: 80px;
}
.h1{
		height: 10px;
	width: 90px;
	background-color: red;
	top:128px;
	left: 80px;
	border-radius: 10px;
}
.h2{
	height: 180px;
	width: 5px;
	background-color: red;
	top:50px;
	left:167px;
}








}

	