body{
	font-family: Arial,Helvetica,sens-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
*{box-sizing: border-box}
.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3 {width:25% ;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    border:none;

}

.row:after{
	clear: both;
	content: "";
	display: block;
}
.highlight{
	color:#E8491D;
	font-weight: bold;
}
.button-1{
	background-color:#E8491D;
	padding: 10px;
	height: 38px; 
	color: #ffffff;
	border: none;
	padding: 12px 20px;
	cursor: pointer;
	
	border-radius: 4px;
}
.container{
	text-align: center;
}
