body{
	font-family: Arial,Helvetica,sens-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
/*global*/
.container{
	width:80%;
	margin: auto;
	overflow: hidden;
}
 ul {
	margin: 0;
	padding: 0;
}
.button1{
height: 38px;
background-color: #e8491d;
border: none;
padding-left: 20px;
padding-right: 20px;
color: white;
}
.dark{
	padding: 15px;
	background-color: #35424a;
	color:white;
	margin-top: 10px;
	margin-bottom: 10px;
}
/* header */
header{
background: #35424a;
color:#ffffff;
padding-top: 30px;
min-height: 70px;
border-bottom: #e8491d 3px solid;
}
header a{
	color:#ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;

}

header li {
	float: left;
	display: inline;
	padding: 0 20px 0 20px;
}
#branding {
	float: left;
	margin: 0;
}
header nav {
	float: right;
	margin-top: 10px;
}
header .highlight, header .current a{
	color:#e8491d;
	font-weight: bold;
}
header a:hover{
	color: #cccccc;
	font-weight: bold;
}

#showcase{
	min-height: 400px;
	background: url(../img/showcase.jpg) no-repeat 0 -400px;
text-align: center;
color: #ffffff;

}
#showcase h1 {
	margin-top: 100px;
	font-size: 50px;
	margin-bottom: 10px;
}
#showcase p {
	font-size: 20px;
}
/*news letter*/

#newsletter{
	padding: 20px;
	background-color:#35424a;
	color:white;
}
#newsletter h1{
	float: left;

}
#newsletter form{
	float: right;
	margin-top: 15px;
}
#newsletter input[type="email"]{
	padding: 5px;
	width: 250px;
	height: 25px;
}
#boxes{
	margin-top: 20px;
}
#boxes .box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}
#boxes box {
	width: 90px;
}
footer{
	padding: 20px;
	margin-top: 20px;
	color: white;
	text-align: center;
	background-color:#e8491d; 
	
}
/* about page */
#sidebar{
	float: right;
	width: 30%;
	margin-top: 10px;
}
aside#sidebar .quote input,aside#sidebar .quote textarea{
width: 90%;
padding: 5px;
}
#main-col{
	float:left;
	width: 60%
}

/* services */

ul#services li {
	list-style: none;
	padding: 20px;
	border:#cccccc solid 3px;
	margin-bottom: 5px;
	background-color: #e6e6e6;
}

/* media queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside #sidebar,
#services
  {
    float:none;
    text-align:center;
    width:100%;
  }

  header{
    padding-bottom:20px;
  }

  #showcase h1{
    margin-top:40px;
  }

  #newsletter button, .quote button{
    display:block;
    width:100%;
  }

  #newsletter form input[type="email"], .quote input, .quote textarea{
    width:100%;
    margin-bottom:5px;
  }
}
