body{
  font: 15px/1.5 Arial, Helvetica,sans-serif;
	margin: 0px;padding: 0px;}
*{box-sizing: border-box}
.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3 {width:25% ;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    border: border none;

}

.row:after{
	clear: both;
	content: "";
	display: block;
}
.button-1{
	background-color:#E8491D;
	padding: 10px;
	height: 38px; 
	color: #ffffff;
	border: none;
	padding: 0 20 0 20;
}
.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
  margin-top:10px;
  margin-bottom:10px;
}
.header{
	/* height: 110px; */

	background-color:#35424A ;
	border-bottom: 3px solid #E8491D;
	color: #ffffff;
	padding-top:30px;
	 min-height:70px;
}

 #branding {
	float: left;

}
.header #branding h1{
  margin:0;
}
.header ul {
	float: right;
	margin-right: 30px;
	margin-top: 30px;
	
}

.header ul li{
	display: inline;
	padding: 20px 20px 20px 20px;

}
.header ul li a {
	color: #ffffff;
	text-decoration: none;
	font-size: 20px;
}
.header a:hover{
  color:#cccccc;
  font-weight:bold;
}

.header .heighlight, .header .current a{
  color:#e8491d;
  font-weight:bold;
}

.showcase{
	 min-height:400px;
	background: url(../img/showcase.jpg) no-repeat 0 -400px;
text-align: center;
color: #ffffff;
}
.showcase h1{
	
	font-size: 55px;
	
	margin-top: 100px;
	margin-bottom: 10px;
}
.showcase p{
	
	font-size: 20px;
	
	
}
.newsletter{
/* height: 110px;
 */background-color: #35424A;
padding: 15px;
color:#ffffff;
}
.newsletter h1{
	
	float: left;
}
.newsletter form{
	float: right;
	margin-top: 15px;

}
.newsletter input[type="email"]{
	padding: 4px;
	width: 250px;
	height:38px;
}
.box{
	margin-top: 30px;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;
}


.container .box img{
	width: 90px;
}
.footer{
/* height: 90px; */
background-color: #E8491D;
text-align: center;
color: #ffffff;
padding: 20px;
}

.sidebar{
	float:right;
	padding-right: 100px;
	padding-left: 50px;
	margin-top: 30px;
	
}
.main{
	float: left;
	padding-left: 10%;
	padding-right: 20px;
}
@media screen and (max-width: 768px){
[class*="col-"]{
	width: 100%;
text-align: center;


}
.header h1{margin-bottom: 5px;
padding-bottom: 0;
text-align: center;
}
.header ul{
	margin-top: 5px;
	text-align: center;
}
.sidebar .dark{
	height: auto;
	width: 120%;

}
.button-1, .newsletter input[type="email"]{
display: block;
width: 100%;
}
.showcase h1 {
	margin-top: 20px;
}
.showcase p{
	padding: 0 20px 0 20px;
}
.box{
	display: block;
	padding-top: 5px;
	margin-top: 5px;
}

}