body{
    font: 18px Arial, Helvetica,sans-serif;
    margin: 0px;padding: 0px;}
*{box-sizing: border-box}
.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3 {width:25% ;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    border:none;

}

.row:after{
    clear: both;
    content: "";
    display: block;
}
.current a{
    color: white;}
.current-bg a{background-color:#0F5D96; }
.blue-text{color:#0368B1;font-weight: bold}
.gray-text{color:#918D8A }
.text-highlight{color:white;font-weight: bold;font-size: 20px;margin-bottom: 10px;}
header{
    background-color: #222222;
    position: sticky;
    top:0px;
}
.container{
   padding:0 70px 0 70px;
    width:95%;

}
header h2{
    color: white;}
header ul{list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
header li {
    float: left;

}
header li a {
    display: block;
    color: white;
    text-align: center;
    padding: 29px 20px;
    text-decoration: none;
}
header li a:hover {
    background-color: #111;
}

/*header nav ul li{
    float: left;
    list-style-type: none;

}
header nav ul li a {
    text-decoration: none;
    color:white;
    display: block;
    padding: 10px 3% 0 3%;
    text-align: center;
}*/
.showcase h1{
    color: #7EA032;
    padding-top: 45px;
    font-weight: bold;
}
.showcase ul li{
    background-color: #0F5D96;
    color: white;
    float: left;
    padding: 10px;
    list-style-type: none;
}
article{
    background-color: #E0E0E0;
    padding-bottom: 50px;
    padding-top: 50px;
}
article h1{margin-left: 50px;}
article img{
    width: 80px;
    height: 60px;
margin-left: 30px;


}
article p{
  text-align: justify;
margin-left: 20px;
}

button{
    background-color:#0C63A8 ;
    padding: 10px 20px;
    display: block;
    color:white;
    border-radius: 10px;
    float: right;
}
.project-img img{
    width: 100px;
    height: 100px;
}
.big-footer{
    background-color: #232323;
    padding-top: 20px;
    padding-bottom: 50px;
}
.big-footer ul li{
    list-style-type: none;
    padding: 8px 0;

}
.big-footer ul li a{
    text-decoration: none;
    color:#0E5080;
    font-weight: bold;

}
.big-footer input[type="email"] {
   padding: 6px 10px;
    font-size: 14px;

}
.big-footer #button{
    background-color:#0E5080;
    color: white;
    padding: 10px 20px;
    font-weight: bold;

}

footer{
    background-color: #161616;
    color: gray;
}
footer nav ul li{
    float: left;

    list-style-type: none;


}
footer nav ul li a {
    text-decoration: none;
    color:#918D8A;
    display: block;
    padding: 10px 5px;

}
footer p{
    padding: 10px 0;
    float: right;
}
