body{
    font: 18px Arial, Helvetica,sans-serif;
    margin: 0px;padding: 0px;}
*{box-sizing: border-box}
.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3 {width:25% ;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    border:none;

}

.row:after{
    clear: both;
    content: "";
    display: block;
}
.container{
    width: 90%;
    height: auto;
    margin: 0 auto;
    padding: 0 100px 0 100px;

}
.logo input{
    padding: 7px 20px;
    float: right;
    float: right;
    margin-top: 40px;
}
nav ul{
    list-style-type: none;


}
nav ul li{

    float: left;
    width: 12.5%;
    margin-left: 0px;
    background-color: #222E3A;
}
nav ul li a {
    display: block;
    text-decoration: none;
    color:white;
    padding: 15px 10px;
    border-right: 1px solid gray;
    text-align: center;

}
.showcase #img1{
    height: 360px;
    width: 700px;
}
.showcase p{
    color:white;
    text-align: center;
    font-size: 36px;
    padding: 50px;

}
.bg-img-blue{background-image: url("../images1/bg.jpg");
    position: absolute;
    top:212px;

    right:190px;
    width:740px;
    height: 360px;

}