*{box-sizing: border-box}
.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3 {width:25% ;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    border:  none;

}

.row:after{
    clear: both;
    content: "";
    display: block;
}
.container{
    width:80%;
    margin: 0 150px 0 150px;
}

nav{
    min-height: 50px;
    padding: 5px 0px;
}
nav li {
    float: left;
    list-style-type: none;
    display: block;

    text-align: center;
    padding: 0 5% 0 5%;
}
nav li a{
    text-decoration: none;
    color:black;
    font-weight: bold;

}

.background-img{color:red;
background-image: url('../images1/img2.jpg');
}
