body{
	font-family: Arial,Helvetica,sens-serif;
	font-size: 15px;
	line-height: 1.5;
	padding: 0;
	margin: 0;
	background-color: #f4f4f4;
}
*{box-sizing: border-box}
.col-1{width: 8.33%;}
.col-2{width:16.66%;}
.col-3 {width:25% ;}
.col-4{width: 33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width: 100%;}

[class*="col-"]{
    float:left;
    border: border none;

}

.row:after{
	clear: both;
	content: "";
	display: block;
}
.highlight{
	color:#E8491D;
	font-weight: bold;
}
.button-1{
	background-color:#E8491D;
	padding: 10px;
	height: 38px; 
	color: #ffffff;
	border: none;
	padding: 12px 20px;
	cursor: pointer;
	
	border-radius: 4px;
}
.button-1:hover{
	background-color:#FF5604;
	box-shadow: 0px 0px 7px 3px  #4CAF50; 
}
.button-2{
	background-color:#E8491D;
	padding: 10px;
	height: 38px; 
	color: #ffffff;
	border: none;
	padding: 12px 20px;
	cursor: pointer;
	float: right;
	border-radius: 4px;
}
.button-2:hover{
	background-color:#FF5604;
	box-shadow: 0px 0px 7px 3px  #4CAF50; 
}
.header{
	
	min-height: 70px;
	background-color: #23405D;
	color: #ffffff;
	border-bottom: 2px solid #E8491D;

}
.header-title h1,.header-title p{
	text-shadow:  2px 2px black;
	text-align: center;

}

.nav{
	background: black;
	color: #ffffff;
	list-style-type: none;		
	margin-top: 0px;
	margin-bottom: 0px;
	
}
.nav li{
	float: left;
	width: 20%;
	margin-left: 0px;
}
.nav li a{
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	display: block;
	height: 48px;
	    padding-top: 14px;
	    transition: 1.5s;


}
.nav li a:hover{
	background-color:#E8491D;
}
.showcase{
	 
	background: url(../img/showcase.jpg) no-repeat 0 -400px;
text-align: center;
color: #ffffff;

}
.showcase h1{
	font-size: 35px;
	margin-top: 50px;
	margin-bottom: 10px;

} 
.newsletter{
background-color: #35424A;
padding: 15px;
color:#ffffff;
}
}

.newsletter h1{
	
	float: left;
	

}
.newsletter form{
	float: right;
	margin-top: 15px;

}
.newsletter input[type="email"]{
	padding: 4px;
	 width: 250px;
	height:38px; 
}
.newsletter input[type="email"]:hover{
	box-shadow: 0px 0px 7px 3px  gray;
}

.footer{
background-color: #E8491D;
text-align: center;

padding: 10px 0 10px 0;
}
.footer-credit{
	color: #ffffff;
}
.footer ul{
	list-style-type: none;
	float: left;
}
.footer ul li{
	float: left;
	padding: 0 10px 0 10px;
}
.box{
	margin-top: 30px;
	text-align: center;
	padding: 10px;
	margin-bottom: 20px;

}
.box p{
	font-weight: bold;
}
.about{
	float: left;
	padding: 0 5% 0 5%;
}
.about p{
	

}
.sidebar img{
	width:80%;
	box-shadow: 0px 0px 15px 10px gray; 

	margin-top: 20px;
	box-shadow: 
	}
	.sidebar p{
		text-align: center;
		width: 80%;

	}
	.contact{
		background-color: #414A50;
		color: white;
		text-align: center;
		
	}
	.contact h1{
				border-bottom: 1px dashed white;
				

	}
	input[type=text],select,textarea{
	width: 100%;
	padding: 12px;
	border:1px solid #ccc;
	border-radius: 4px;
	margin: 1%;
	resize: vertical;

}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}
input[type="text"]:hover,textarea:hover,select:hover {
	box-shadow:0px 0px 30px 10px gray; 
	}

.form {
    border-radius: 5px;
    
    padding: 20px;
}
.address{
	padding: 15px;
	width:70%;
	background: ;
	color: white;
	margin-top: 20px;
}





	@media screen and (max-width: 600px){
		[class*="col-"]{
			width: 100%;

		}
		.row:after{
	clear: both;
	content: "";
	display: block;
}
.header img{
	display: none;

}
.showcase h1{
margin-top: 10px;
margin-bottom: 10px;
}
.showcase .box{
	width: 90%;
	padding: 0 5% 0 10%;
}

.newsletter h1{
	font-size: 20px;
	text-align: center;
}

.button-1, .newsletter input[type="email"]{
display: block;
width: 100%;
}
.footer{
	padding: 5px;
}
.footer ul {
	width: 100%;
	margin-bottom: 0px;

}
.footer-credit{
	margin-bottom: 0px;
}
.about{
	height: auto;
}
}
.sidebar{
	padding: 50px;
}
.sidebar img{
	width: 100%;
	padding: ;
}
